<div class="col-md-{{this.panelWidth}}">
    <div class="panel panel-info">
        <div class="panel-heading"><span class="glyphicon glyphicon-eye-open"></span> &nbsp; <strong>{{PanelTitle}}</strong>
            <span class="count"></span>
        </div>
        <div class="panel-body">
            <app-link [linkList]='filteredLinks'></app-link>
        </div>
        <div class="panel-footer">
            <a href="#" class="suggest_entry" title="Suggest an Entry"> Add Entry </a>
        </div>
    </div>
</div>