<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>M.U.L.T.I.P.A.S.S. : My Utility Links To Important Places And Similar Stuff</strong>
  </div>
  <div class="panel-body" style="background-color: silver;">
    <div class="row">
      <app-links-panel [filteredLinks]='category1List'></app-links-panel>
      <app-links-panel [filteredLinks]='category2List'></app-links-panel>
      <app-links-panel [filteredLinks]='category3List'></app-links-panel>
      <app-links-panel [filteredLinks]='category4List'></app-links-panel>
    </div>
    <div class="row">
      <app-links-panel [filteredLinks]='category5List'></app-links-panel>
      <app-links-panel [filteredLinks]='category6List'></app-links-panel>
      <app-links-panel [filteredLinks]='category7List'></app-links-panel>
      <app-links-panel [filteredLinks]='category8List'></app-links-panel>
    </div>
  </div>
  <div class="panel-footer">
    &copy; ME, Dammit!
  </div>
</div>
