<div class="panel panel-primary">
  <div class="panel-heading">
    <strong>M.U.L.T.I.P.A.S.S. : My Utility Links To Important Places And Similar Stuff</strong>
  </div>
  <div class="panel-body" style="background-color: silver;">
    <div class="row">
      <app-links-panel [filteredLinks]='category1List' [PanelTitle]='category1Title'></app-links-panel>
      <app-links-panel [filteredLinks]='category2List' [PanelTitle]='category2Title'></app-links-panel>
      <app-links-panel [filteredLinks]='category3List' [PanelTitle]='category3Title'></app-links-panel>
      <app-links-panel [filteredLinks]='category4List' [PanelTitle]='category4Title'></app-links-panel>
    </div>
    <div class="row">
      <app-links-panel [filteredLinks]='category5List' [PanelTitle]='category5Title'></app-links-panel>
      <app-links-panel [filteredLinks]='category6List' [PanelTitle]='category6Title'></app-links-panel>
      <app-links-panel [filteredLinks]='category7List' [PanelTitle]='category7Title'></app-links-panel>
      <app-links-panel [filteredLinks]='category8List' [PanelTitle]='category8Title'></app-links-panel>
    </div>
  </div>
  <div class="panel-footer">
    &copy; ME, Dammit!
  </div>
</div>
